/*
Simple Tree jQuery plugin

Based on CSS for simple unobtrusive javascript treeview plugin
developed by Krijn Hoetmer
http://krijnhoetmer.nl/stuff/javascript/list-treeview-menu/

Adapted as a jQuery plugin by Maurizio Manetti
 */

.st-treed, .st-treed ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-image: url('../../images/biz/vdot.gif');
    background-repeat: repeat-y;
    background-position: 8px 0;
}

.st-treed a {
    text-decoration: none;
    color: #000;
    background-image: url('../../images/biz/folder.gif');
    background-repeat: no-repeat;
    background-position: center left;
    padding: 2px 0 2px 20px;
}
.st-treed li {
    padding-top: 4px;
    padding-left: 20px;
    background-image: url('../../images/biz/corner.gif');
    background-repeat: no-repeat;
    background-position: 8px 0;
}

.st-treed a:hover {
    text-decoration: underline;
}

.st-treed .st-last {
    background-image: url('../../images/biz/corner.gif');
    background-position: 8px 0;
}

.st-treed .st-collapsed, .st-treed .st-open {
    background-repeat: no-repeat;
    background-position: 4px 0;
    cursor: pointer;
}

.st-treed .st-collapsed {
    background-image: url('../../images/biz/plus.gif');
}

.st-treed .st-open {
    background-image: url('../../images/biz/minus.gif');
}

.st-treed .st-collapsed ul {
    display: none;
}

.st-treed .st-file a {
    background-image: url('../../images/biz/file.gif');
}

.st-treed a:hover {
    background-color: transparent;
}
