<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mybatis-spring="http://mybatis.org/schema/mybatis-spring"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://mybatis.org/schema/mybatis-spring http://mybatis.org/schema/mybatis-spring-1.2.xsd">

    <mybatis-spring:scan base-package="kr.co.socsoft" annotation="egovframework.rte.psl.dataaccess.mapper.Mapper" factory-ref="sqlSession" />

    <bean id="sqlSession" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <property name="mapperLocations">
			<list>
				<value>classpath:kr/co/socsoft/sqlmap/sql/${Globals.DbType}/**/sql-${Globals.DbType}-*.xml</value>
			</list>
		</property>
        <property name="configLocation" value="classpath:kr/co/socsoft/sqlmap/sql-mapper-config.xml" />
    </bean>
</beans>
